/* From Uiverse.io by jack0237 */ 
.form-container {
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(120deg, transparent 25%, #1cb0ff, #40ff99) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.error-message {
  color: #b71c1c; /* Dark red color for error messages */
  background-color: #f8d7da; /* Light red background */
  border: 1px solid #f5c6cb; /* Light red border */
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.heading {
  font-size: 20px;
  font-weight: 600;
}

.form-input {
  color: white;
  background: transparent;
  border: 1px solid #414141;
  border-radius: 5px;
  padding: 8px;
  outline: none;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.message-container {
  margin-top: 20px; 
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Full viewport height */
}

button {
  border-radius: 5px;
  padding: 6px;
  background: #ffffff14;
  color: #c7c5c5;
  border: 1px solid #414141;
}

button:hover {
  background: #212121;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #414141;
  position: relative;
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  pointer-events: none;
  transition: 0.5s;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -16px;
  left: 0;
  background: #212121 padding-box;
  padding: 10px 0 0 0;
  color: #bdb8b8;

  font-size: 12px;
}
